
:root {
    --color-primary-normal: #17754d; 
    --color-primary-normal-active: #125e3e; 
    --color-danger-light: #fcdad7; 
    --color-danger-light-hover: #f7a19b; 
    --color-grey-light: #eaeaeb; 
    --color-black-white-light: #ffffff; 
    --color-black-white-light-hover: #0e0f0c; 
    --color-primary-light: #e8f1ed; 
    --color-primary-light-hover: #dceae4; 
    --color-primary-light-active: #b7d4c8; 
    --color-primary-normal-hover: #156945; 
    --color-secondary-light-active: #f5e4bc; 
    --color-secondary-normal: #dfa926; 
    --color-success-light: #d1f0e1; 
    --color-success-light-hover: #8bd8b4; 
    --color-warning-light: #fde9ce; 
    --color-warning-light-hover: #fbc784; 
    --color-warning-light-active: #f79009; 
    --color-danger-light-active: #f04438; 
    --color-information-light: #e1f2ff; 
    --color-grey-light-hover: #cecfd2; 
    --color-grey-light-active: #747475; 
    --color-surface-normal: #f2f9f6; 
    --color-success-darker: #266749; 
    --color-information-light-hover: #b4dfff; 
    --color-information-light-active: #69c0ff; 
    --color-information-darker: #118ce5; 
    --color-danger-darker: #bb2b21; 
    --color-warning-darker: #c0720d; 
    --color-colors-primary-900: #125e3e; 
    --color-colors-primary-800: #156945; 
    --color-colors-primary-700: #17754d; 
    --color-colors-primary-600: #b7d4c8; 
    --color-colors-primary-500: #dceae4; 
    --color-colors-primary-400: #e8f1ed; 
    --color-colors-secondary-900: #b2871e; 
    --color-colors-secondary-800: #c99822; 
    --color-colors-secondary-700: #dfa926; 
    --color-colors-secondary-600: #f5e4bc; 
    --color-colors-secondary-500: #faf2de; 
    --color-colors-secondary-400: #fcf6e9; 
    --color-colors-tertiary-900: #b2871e; 
    --color-colors-tertiary-800: #c99822; 
    --color-colors-tertiary-700: #dfa926; 
    --color-colors-tertiary-600: #f5e4bc; 
    --color-colors-tertiary-500: #faf2de; 
    --color-colors-tertiary-400: #fcf6e9; 
    --color-colors-success-900: #266749; 
    --color-colors-success-800: #17b26a; 
    --color-colors-success-700: #8bd8b4; 
    --color-colors-success-600: #d1f0e1; 
    --color-colors-information-900: #118ce5; 
    --color-colors-information-800: #69c0ff; 
    --color-colors-information-700: #b4dfff; 
    --color-colors-information-600: #e1f2ff; 
    --color-colors-danger-900: #bb2b21; 
    --color-colors-danger-800: #f04438; 
    --color-colors-danger-700: #f7a19b; 
    --color-colors-danger-600: #fcdad7; 
    --color-colors-warning-900: #c0720d; 
    --color-colors-warning-800: #f79009; 
    --color-colors-warning-700: #fbc784; 
    --color-colors-warning-600: #fde9ce; 
    --color-colors-grey-900: #747475; 
    --color-colors-grey-800: #cecfd2; 
    --color-colors-grey-700: #eaeaeb; 
    --color-colors-black-white-black: #0e0f0c; 
    --color-colors-black-white-white: #ffffff; 
    --color-colors-surface: #f2f9f6; 
    --color-form-lorem: #ffffff; 
    --color-surface: #ffffff; 
    --color-icon: #17754d; 
    --color-icon-surface: #ffffff; 
    --color-heading: #1c1c1c; 
    --color-pill-surface: #fde9ce; 
    --color-pill-text: #c0720d; 
    --color-pill-outline: #fbc784; 
    --color-title: #747475; 
    --color-paragraph: #1c1c1c; 
    --color-link-text: #17754d; 
    --color-colors-text-text-black: #0e0f0c; 
    --color-colors-text-text-white: #ffffff; 
    --color-colors-text-text-gray: #747475; 
    --color-colors-text-text-primary: #17754d; 
    --color-colors-text-text-warning: #f79009; 
    --color-colors-text-text-danger: #f04438; 
    --color-colors-text-text-badge-warning: #c0720d; 
    --color-colors-text-text-badge-success: #266749; 
    --color-colors-text-text-badge-information: #118ce5; 
    --color-colors-text-text-badge-danger: #bb2b21; 
    --color-colors-text-text-button-filled: #ffffff; 
    --color-colors-text-text-button-disable: #cecfd2; 
    --color-colors-text-text-button-text-primary: #17754d; 
    --color-colors-icon-primary: #17754d; 
    --color-colors-icon-information: #118ce5; 
    --color-colors-icon-success: #266749; 
    --color-colors-icon-warning: #c0720d; 
    --color-colors-icon-grey: #747475; 
    --color-colors-button-filled: #17754d; 
    --color-colors-button-filled-hover: #156945; 
    --color-colors-button-filled-active: #125e3e; 
    --color-colors-button-filled-disabled: #eaeaeb; 
    --color-colors-button-filled-danger: #f04438; 
    --color-colors-button-hover: #dceae4; 
    --color-colors-button-hover-active: #b7d4c8; 
    --color-colors-stroke-primary: #17754d; 
    --color-colors-stroke-danger: #f04438; 
    --color-colors-stroke-warning: #f79009; 
    --color-colors-stroke-disable: #cecfd2; 
    --color-colors-surface-success: #17b26a; 
    --color-colors-surface-warning: #f79009; 
    --color-colors-surface-danger: #f04438; 
    --color-colors-surface-white: #f2f9f6; 
    --color-colors-text-primary: #17754d; 
    --color-colors-text-secondary: #dfa926; 
    --color-colors-text-black: #0e0f0c; 
    --color-colors-text-white: #ffffff; 
    --color-colors-text-grey: #747475; 
    --color-colors-surface-primary: #b7d4c8; 
    --color-colors-text-grey-contrast: #cecfd2; 
    --color-colors-text-danger: #bb2b21; 
    --color-colors-text-danger-contrast: #f04438; 
    --color-colors-text-warning: #c0720d; 
    --color-colors-text-warning-contrast: #f79009; 
    --color-colors-text-information: #118ce5; 
    --color-colors-text-information-contrast: #69c0ff; 
    --color-colors-text-success: #266749; 
    --color-colors-text-success-contrast: #17b26a; 
    --color-colors-surface-primary-contrast: #f2f9f6; 
    --color-colors-surface-secondary: #ffffff; 
    --color-colors-surface-information-contrast: #e1f2ff; 
    --color-colors-surface-danger-contrast: #fcdad7; 
    --color-colors-surface-warning-contrast: #fde9ce; 
    --color-colors-surface-success-contrast: #d1f0e1; 
    --color-colors-surface-information: #69c0ff; 
    --color-colors-surface-grey: #eaeaeb; 
    --color-colors-button-primary: #17754d; 
    --color-colors-button-primary-hover: #156945; 
    --color-colors-button-primary-active: #125e3e; 
    --color-colors-button-primary-contrast: #e8f1ed; 
    --color-colors-button-primary-light-hover: #dceae4; 
    --color-colors-button-primary-light-active: #b7d4c8; 
    --color-colors-button-white: #ffffff; 
    --color-colors-button-secondary: #dfa926; 
    --color-colors-button-tertiary: #dfa926; 
    --color-colors-button-grey: #eaeaeb; 
    --color-colors-button-danger: #f04438; 
    --color-colors-button-warning: #f79009; 
    --color-colors-border-primary: #17754d; 
    --color-colors-border-secondary: #dfa926; 
    --color-colors-border-tertiary: #dfa926; 
    --color-colors-border-danger: #f04438; 
    --color-colors-border-disabled: #747475; 
    --color-colors-border-disabled-contrast: #cecfd2; 
    --color-colors-border-information: #69c0ff; 
    --color-colors-border-warning: #f79009; 
    --color-colors-border-danger-contrast: #f7a19b; 
    --color-colors-border-information-contrast: #b4dfff; 
    --color-colors-border-warning-contrast: #fbc784; 
    --color-colors-icon-secondary: #dfa926; 
    --color-colors-icon-danger: #bb2b21; 
    --color-colors-icon-warning-contrast: #f79009; 
    --color-colors-icon-information-contrast: #69c0ff; 
    --color-colors-icon-success-contrast: #17b26a; 
    --color-colors-icon-danger-contrast: #f04438; 
    --color-colors-icon-grey-contrast: #cecfd2; 
    --color-colors-icon-black: #0e0f0c; 
    --color-colors-icon-white: #ffffff; 
    --color-button-surface-button-filled-enabled: #17754d; 
    --color-button-surface-button-filled-hover: #156945; 
    --color-button-surface-button-filled-active: #125e3e; 
    --color-button-surface-button-filled-disabled: #eaeaeb; 
    --color-button-surface-button-warning: #f79009; 
    --color-button-surface-button-danger: #f04438; 
    --color-button-border-border-primary: #17754d; 
    --color-button-border-border-disabled: #747475; 
    --color-button-border-border-danger: #f04438; 
    --color-button-border-border-warning: #f79009; 
    --color-button-text-texton-button-filled-primary: #ffffff; 
    --color-button-text-texton-button-filled-disabled: #747475; 
    --color-button-text-texton-button-outline-enabled: #17754d; 
    --color-button-text-texton-button-outline-hover: #17754d; 
    --color-button-text-texton-button-outline-active: #17754d; 
    --color-button-text-texton-button-outline-disabled: #747475; 
    --color-button-text-texton-button-outline-danger: #f04438; 
    --color-button-text-texton-button-outline-warning: #f79009; 
    --color-button-text-texton-badge-danger: #bb2b21; 
    --color-button-text-texton-badge-warning: #c0720d; 
    --color-button-text-texton-badge-success: #266749; 
    --color-button-text-texton-badge-information: #118ce5; 
    --color-button-text-texton-badge-disabled: #747475; 
    --color-button-text-header: #0e0f0c; 
    --color-button-text-paragraph: #cecfd2; 
    --color-button-text-primary: #17754d; 
    --color-button-text-secondary: #dfa926; 
    --color-button-text-danger: #f04438; 
    --color-button-icon-primary: #ffffff; 
    --color-button-icon-warning: #f79009; 
    --color-button-icon-danger: #f04438; 
    --color-button-icon-disabled: #747475; 
    --color-badge-supportive-text-surface-information: #e1f2ff; 
    --color-badge-supportive-text-surface-warning: #fde9ce; 
    --color-badge-supportive-text-surface-success: #d1f0e1; 
    --color-badge-supportive-text-surface-danger: #fcdad7; 
    --color-badge-supportive-text-text-information: #118ce5; 
    --color-badge-supportive-text-text-warning: #f79009; 
    --color-badge-supportive-text-text-success: #17b26a; 
    --color-badge-supportive-text-text-danger: #f04438; 
    --color-badge-supportive-text-text-enabled: #747475; 
    --color-badge-supportive-text-icon-information: #118ce5; 
    --color-badge-supportive-text-icon-warning: #c0720d; 
    --color-badge-supportive-text-icon-success: #266749; 
    --color-badge-supportive-text-icon-danger: #f79009; 
    --color-badge-supportive-text-icon-enabled: #747475; 
    --color-form-icon-primary: #17754d; 
    --color-form-icon-danger: #f04438; 
    --color-form-icon-grey: #747475; 
    --color-form-border-primary: #cecfd2; 
    --color-form-border-active: #17754d; 
    --color-form-border-danger-file-upload: #f7a19b; 
    --color-form-border-success-file-upload: #17754d; 
    --color-form-border-danger-form: #f04438; 
    --color-form-text-primary: #0e0f0c; 
    --color-form-text-grey: #747475; 
    --color-form-text-danger: #f04438; 
    --color-form-surface-danger: #fcdad7; 
    --color-form-surface-active: #b7d4c8; 
    --color-form-surface-disabled: #eaeaeb; 
}