
:root {
    --measure-dimension-fonts-height-16: 16px;     
    --measure-dimension-fonts-weight-normal: 400px;     
    --measure-font-size-fonts-size-12: 12px;     
    --measure-dimension-fonts-weight-medium: 500px;     
    --measure-dimension-fonts-weight-bold: 700px;     
    --measure-font-size-fonts-size-14: 14px;     
    --measure-font-size-fonts-size-16: 16px;     
    --measure-font-size-fonts-size-24: 24px;     
    --measure-font-size-fonts-size-30: 30px;     
    --measure-font-size-fonts-size-48: 48px;     
    --measure-dimension-fonts-height-20: 20px;     
    --measure-dimension-fonts-height-24: 24px;     
    --measure-dimension-fonts-height-32: 32px;     
    --measure-dimension-fonts-height-36: 36px;     
    --measure-dimension-fonts-height-48: 48px;     
    --measure-dimension-fonts-size-font-size: 12px;     
    --measure-border-radius-border-radius-border-radius-rounded-none: 0px;     
    --measure-space-border-radius-spacing-0: 0px;     
    --measure-space-border-radius-spacing-px: 1px;     
    --measure-space-border-radius-spacing-0-5: 2px;     
    --measure-space-border-radius-spacing-1: 4px;     
    --measure-space-border-radius-spacing-1-5: 6px;     
    --measure-space-border-radius-spacing-2: 8px;     
    --measure-space-border-radius-spacing-2-5: 10px;     
    --measure-space-border-radius-spacing-3: 12px;     
    --measure-space-border-radius-spacing-3-5: 14px;     
    --measure-space-border-radius-spacing-4: 16px;     
    --measure-space-border-radius-spacing-5: 20px;     
    --measure-space-border-radius-spacing-6: 24px;     
    --measure-space-border-radius-spacing-7: 28px;     
    --measure-space-border-radius-spacing-8: 32px;     
    --measure-space-border-radius-spacing-9: 36px;     
    --measure-space-border-radius-spacing-10: 40px;     
    --measure-space-border-radius-spacing-11: 44px;     
    --measure-space-border-radius-spacing-12: 48px;     
    --measure-space-border-radius-spacing-14: 56px;     
    --measure-space-border-radius-spacing-16: 64px;     
    --measure-space-border-radius-spacing-20: 80px;     
    --measure-space-border-radius-spacing-24: 96px;     
    --measure-space-border-radius-spacing-28: 112px;     
    --measure-space-border-radius-spacing-32: 128px;     
    --measure-space-border-radius-spacing-36: 144px;     
    --measure-space-border-radius-spacing-40: 160px;     
    --measure-space-border-radius-spacing-44: 176px;     
    --measure-space-border-radius-spacing-48: 192px;     
    --measure-space-border-radius-spacing-52: 208px;     
    --measure-space-border-radius-spacing-56: 224px;     
    --measure-border-radius-border-radius-border-radius-rounded-sm: 2px;     
    --measure-border-radius-border-radius-border-radius-rounded: 4px;     
    --measure-border-radius-border-radius-border-radius-rounden-md: 6px;     
    --measure-border-radius-border-radius-border-radius-rounded-lg: 8px;     
    --measure-border-radius-border-radius-border-radius-rounded-xl: 12px;     
    --measure-border-radius-border-radius-border-radius-rounded-2xl: 16px;     
    --measure-border-radius-border-radius-border-radius-rounded-3xl: 24px;     
    --measure-border-radius-border-radius-border-radius-rounded-full: 9999px;     
    --measure-dimension-fonts-size-12: 12px;     
    --measure-dimension-fonts-size-14: 14px;     
    --measure-dimension-fonts-size-16: 16px;     
    --measure-dimension-fonts-size-24: 24px;     
    --measure-dimension-fonts-size-30: 30px;     
    --measure-dimension-fonts-size-48: 48px;     
    --measure-dimension-border-radius-border-radius-rounded-none: 0px;     
    --measure-dimension-border-radius-spacing-0: 0px;     
    --measure-dimension-border-radius-spacing-px: 1px;     
    --measure-dimension-border-radius-spacing-0-5: 2px;     
    --measure-dimension-border-radius-spacing-1: 4px;     
    --measure-dimension-border-radius-spacing-1-5: 6px;     
    --measure-dimension-border-radius-spacing-2: 8px;     
    --measure-dimension-border-radius-spacing-2-5: 10px;     
    --measure-dimension-border-radius-spacing-3: 12px;     
    --measure-dimension-border-radius-spacing-3-5: 14px;     
    --measure-dimension-border-radius-spacing-4: 16px;     
    --measure-dimension-border-radius-spacing-5: 20px;     
    --measure-dimension-border-radius-spacing-6: 24px;     
    --measure-dimension-border-radius-spacing-7: 28px;     
    --measure-dimension-border-radius-spacing-8: 32px;     
    --measure-dimension-border-radius-spacing-9: 36px;     
    --measure-dimension-border-radius-spacing-10: 40px;     
    --measure-dimension-border-radius-spacing-11: 44px;     
    --measure-dimension-border-radius-spacing-12: 48px;     
    --measure-dimension-border-radius-spacing-14: 56px;     
    --measure-dimension-border-radius-spacing-16: 64px;     
    --measure-dimension-border-radius-spacing-20: 80px;     
    --measure-dimension-border-radius-spacing-24: 96px;     
    --measure-dimension-border-radius-spacing-28: 112px;     
    --measure-dimension-border-radius-spacing-32: 128px;     
    --measure-dimension-border-radius-spacing-36: 144px;     
    --measure-dimension-border-radius-spacing-40: 160px;     
    --measure-dimension-border-radius-spacing-44: 176px;     
    --measure-dimension-border-radius-spacing-48: 192px;     
    --measure-dimension-border-radius-spacing-52: 208px;     
    --measure-dimension-border-radius-spacing-56: 224px;     
    --measure-dimension-border-radius-border-radius-rounded-sm: 2px;     
    --measure-dimension-border-radius-border-radius-rounded: 4px;     
    --measure-dimension-border-radius-border-radius-rounden-md: 6px;     
    --measure-dimension-border-radius-border-radius-rounded-lg: 8px;     
    --measure-dimension-border-radius-border-radius-rounded-xl: 12px;     
    --measure-dimension-border-radius-border-radius-rounded-2xl: 16px;     
    --measure-dimension-border-radius-border-radius-rounded-3xl: 24px;     
    --measure-dimension-border-radius-border-radius-rounded-full: 9999px;     
    --measure-dimension-fonts-weight-font-normal: 400px;     
    --measure-dimension-fonts-weight-font-medium: 500px;     
    --measure-dimension-fonts-weight-font-bold: 700px;     
    --measure-dimension-fonts-font-size-text-xs: 12px;     
    --measure-dimension-fonts-font-size-text-sm: 14px;     
    --measure-dimension-fonts-font-size-text-base: 16px;     
    --measure-dimension-fonts-font-size-text-lg: 24px;     
    --measure-dimension-fonts-font-size-text-3xl: 30px;     
    --measure-dimension-fonts-font-size-text-5xl: 48px;     
    --measure-dimension-fonts-line-height-text-xs: 16px;     
    --measure-dimension-fonts-line-height-text-sm: 20px;     
    --measure-dimension-fonts-line-height-text-base: 24px;     
    --measure-dimension-fonts-line-height-text-lg: 32px;     
    --measure-dimension-fonts-line-height-text-3xl: 36px;     
    --measure-dimension-fonts-line-height-text-5xl: 48px;     
}