@tailwind utilities;

@layer utilities {
   
  .typography-display-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-display-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-display-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-headline-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-headline-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-headline-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-title-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-title-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-title-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-large-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-large-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-large-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-medium-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-medium-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-medium-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-small-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-small-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-label-small-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-text-5xl-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-5xl-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-5xl-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-3xl-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-3xl-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-3xl-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-lg-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-lg-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-lg-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-base-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-base-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-base-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-sm-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-sm-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-sm-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-xs-regular {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-xs-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 

   
  .typography-text-xs-bold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-indent: 0px;
  } 


}